@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #f8f6f3;
  --foreground: #000000;
  --green: #9a9c68;
  --gray: #bab9b6
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--green);
  --color-gray: var(--gray);
  /*--font-helvetica: var(--font-helvetica);*/
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f6f3;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.93rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 2.18rem;
}

h5 {
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  width: 92%;
  max-width: 1400px;
}

.main-background {
  background-image: url('../../public/backgrounds/c837a6_5950adc5b1a94d49bcd90573bd105b06~mv2.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}